<h2>{{titulo}}</h2>
<form action="">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="">Edad</label>
        <input type="number" class="form-control">
    </div>
    <div class="form-group">
        <label for="estado">Estado</label>
        <select class="browser-default form-control">
            <option>Casado</option>
            <option>Soltero</option>
            <option>Union Libre</option>
            <option>Viudo</option>
        </select>       
    </div>
    <div class="form-group">
        <label><input class="with-gap" type="radio" for="" checked="True">Hombre</label>
        <label><input type="radio">Mujer</label>
    </div>

</form>